# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Venv
.venv/
env/
venv/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Env / secrets
.env
.env.*
!.env.example

# Alembic (если добавишь позже)
alembic/versions/*.pyc